{% extends "base.html" %}
{% block head %}
  <title>Hello, bookworms!</title>
{% endblock %}

{% block body %}
  <div class = "container">
    <img src="../static/banner.jpg" alt="Books" class="banner" >
    {% if message %}
      <p class = "message">{{ message }}</p>
    {% endif %}
    <form action="/submit" method = "POST">
      <div class="form-group">
        <h3>Search for some books you have already read to rate, the more the better!</h3>
        <input
          type="text"
          name="searchQuery"
          placeholder="Input book title or author"
          />
      </div>
    </form>
    <h4>Thanks to <a href="https://unsplash.com/@fredmarriage">Freddie Marriage</a> for the banner photo!</h4>
  </div>
{% endblock %}
