{% extends "base.html" %} 

{% block body %}
  <!-- <img src="../static/banner.jpg" class="img-fluid mb-4" alt="Books" /> -->

  {% if message %}
    <p class="message">{{ message }}</p>
  {% endif %}
  <div class="row">
    <div class="col-sm-3 content-section">
      <h5 class="display-5 mt-4">Check out these popular books!</h5>
      <div class="table-wrapper">
        <table class="table table-striped table-bordered text-black">
          <thead>
            <tr>
              <th scope="col">Book Image</th>
              <th scope="col">Title</th>
              <th scope="col">Author(s)</th>
            </tr>
          </thead>
          <tbody>
            {% for book in popbooks %}
            <tr id = "{{ book.book_id }}">
              <td><img src={{ book.small_image_url }} /></td>
              <td>{{ book.title }}</td>
              <td>{{ book.authors }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-6 content-section">
      <h3 class="display-3">Welcome to The Book Spot!</h3>

      <p class="lead text-left">
        Thanks for checking out my book recommender! This small app will ask you to create an account, then rate several books you've already read. The app will then throw your rating information into a big matrix and perform <strong>collaborative based filtering</strong> (specifically <strong>matrix factorization</strong>) to recommend new books to you that you may like. This is, in broad strokes, how companies like <a href="https://www.amazon.com/">Amazon</a> and <a href="https://www.netflix.com/">Netflix</a> recommend new items or movies to users.
      </p>
      <h4 class="display-4">What do I do?</h4>
      <p class="lead text-left">
        To start, just register for an account. Then start searching for books you've read before and go ahead and give them ratings. To improve your recommendations, try to rate more books that you enjoyed than that you didn't. Once you've rated at least five books (the more the better), the algorithm will throw you into the matrix and compute your recommendations. This happens once a day; so while you wait, check out the popular books to see if you're interested in those!
      </p>

      <img src="{{ url_for('static', filename = 'banner.jpg') }}"  class="rounded img-fluid" alt="Books" />
      
      <small class = "text-muted mb-4">
        Thanks to <a href="https://unsplash.com/@fredmarriage">Freddie Marriage</a> for the photo!
      </small>
      <!-- Thank goodreads and goodbook-10k people. Thanks to Corey Schafer for a ton of help on flask, html, css, and databases (https://www.youtube.com/watch?v=QnDWIZuWYW0&list=PL-osiE80TeTs4UjLw5MM6OjgkjFeUxCYH&index=2) -->
    </div>
  </div>
{% endblock body %}