* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    background: rgba( 71, 147, 227, 1);
}

.container {
	max-width: 1200px;
	margin: 1rem auto;
	overflow: auto;
	padding: 0 2rem;
}

